*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Roboto' , sans-serif;
}

.header{
    display:flex;
    padding: 0 350px;
    background-color: #1F2937;
    justify-content: center;
}

.title{
    align-items: center;
    flex:1;
    color: white;
}

.links{
    display:flex;
    list-style-type: none;
    align-items: center;
    gap:70px;
}

.links a{
    text-decoration: none;
    color: white;
}

.section-one{
    display:flex;
    padding:  50px 350px;
    align-items: center;
    gap:50px;
    background-color: #1F2937;
}

.section-one h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section-one p{
    font-size: 18px;
    color: #E5E7EB;
}

.section-one button{
    font-size: 18px;
    color: white;
    background-color: #3882F6;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.section-one img{
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.section-two{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 350px;
}

.section-two-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.section-two-cards{
    display: flex;
    gap:100px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-image{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.card p{
    width: 150px;
}

.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 350px;
}

.section-three-quote p{
    font-size: 36px;
    color:#1F2937;
    font-weight: 200;
}

.section-three-person{
    display: flex;
    justify-content: flex-end;
}

.section-three-person p{
    font-size: 20px;
    font-weight: 900;
}

.section-four{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cta-container{
    display: flex;
    align-items: center;
    gap:150px;
    background-color: #3882F6;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
}

.section-four-left{
    color:#F9FAF8;
}

.section-four-left h3{
    margin-bottom: 5px;
}
.section-four-left p{
    margin-top: 0;
}

.section-four-right button{
    font-size: 18px;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.footer{
    display:flex;
    padding: 40px 350px;
    background-color: #1F2937;
    justify-content: center;
    color: white;
    font-size: 18px;
}